In [3]:
# Pandas is a data manipulation and analysis library.
# used for data cleaning, data transformation, data visualization, data analysis, and data modeling.

import pandas as pd

In [14]:
# series -> it is similar to column in excel
data = pd.Series([51,32,43,74,326])
print(data)

# create series from dictionary (dont forget S is capital)
data = pd.Series({'a':10,'b':20,'c':30})
print(data) #key will be the index

# series of arr with myindexes
data = [10,20,30]
myIndex = ['g', 's', 'b']
print(pd.Series(data, myIndex))

0     51
1     32
2     43
3     74
4    326
dtype: int64
a    10
b    20
c    30
dtype: int64
g    10
s    20
b    30
dtype: int64

In [17]:
# series has singel column.
# Dataframe has multiple columns.
# Dataframe is a table of data with rows and columns.

data = { #4 rows and 3 columns
    'name': ['balaj', 'kumar', 'sai', 'kiran'],
    'age': [20, 21, 22, 23],
    'city': ['new york', 'los angeles', 'chicago', 'san francisco']
}

myindex = ['a', 'b', 'c', 'd']

df = pd.DataFrame(data, myindex) # passing index is optional; 
print(df)

# converting this dataframe to a arr
import numpy as np
print(np.array(df))

    name  age           city
a  balaj   20       new york
b  kumar   21    los angeles
c    sai   22        chicago
d  kiran   23  san francisco
[['balaj' 20 'new york']
 ['kumar' 21 'los angeles']
 ['sai' 22 'chicago']
 ['kiran' 23 'san francisco']]

In [ ]:
# create dataframe from list of dict
data = [
    {'name': 'balaj', 'age': 20, 'city': 'new york'},
    {'name': 'kumar', 'age': 21, 'city': 'los angeles'},
    {'name': 'sai', 'age': 22, 'city': 'chicago'},
    {'name': 'kiran', 'age': 23, 'city': 'san francisco'}
]


df = pd.DataFrame(data) #here also index is optional
print(df)

    name  age           city
a  balaj   20       new york
b  kumar   21    los angeles
c    sai   22        chicago
d  kiran   23  san francisco

In [ ]:
df = pd.read_csv('data.csv')
# print(df)
# print(df.head(5)) #ot print first 5 rows
# print(df.tail(5)) #ot print last 5 rows
# print("1", df.info()) #ot print info about the dataframe
# print("2", df.describe()) #ot print description of the dataframe
# print("3", df.shape) #ot print shape of the dataframe
# print("4", df.columns) #ot print columns of the dataframe

4 Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [ ]:
# accessing data from dataframe
data = { #4 rows and 3 columns
    'name': ['balaj', 'kumar', 'sai', 'kiran'],
    'age': [20, 21, 22, 23],
    'city': ['new york', 'los angeles', 'chicago', 'san francisco']
}

df = pd.DataFrame(data)
# print(df['name']) #accessing name column and it is a series 
# print(df.name) #accessing name column
# print(df[['name', 'age']]) #accessing multiple columns
# print(df.loc[0]) #accessing first row # loc = location
# print(df.iloc[0]) #accessing first row # iloc = integer location
# print(df.iloc[0:2]) #accessing first two rows
# print(df.iloc[:, 0]) #accessing first column
# print(df.at[1, 'city']) #accessing value of city at index 1
# print(df.iat[1, 2]) #accessing value of city at index 1

los angeles

In [ ]:
# Data manipulation with dataframe
data = { #4 rows and 3 columns
    'name': ['balaj', 'kumar', 'sai', 'kiran'],
    'age': [20, 21, 22, 23],
    'city': ['new york', 'los angeles', 'chicago', 'san francisco']
}

df = pd.DataFrame(data)
print(df)

# adding a new column
df['gender'] = ['male', 'female', 'male', 'female']
print(df)

# removing a column
df.drop(columns=['gender'], inplace=True) # this is now a permanent operation because inplace=True
print(df)

# modifying a column
df['age'] = df['age'] + 2
print(df)

    name  age           city
0  balaj   20       new york
1  kumar   21    los angeles
2    sai   22        chicago
3  kiran   23  san francisco
    name  age           city  gender
0  balaj   20       new york    male
1  kumar   21    los angeles  female
2    sai   22        chicago    male
3  kiran   23  san francisco  female
    name  age           city
0  balaj   20       new york
1  kumar   21    los angeles
2    sai   22        chicago
3  kiran   23  san francisco
    name  age           city
0  balaj   22       new york
1  kumar   23    los angeles
2    sai   24        chicago
3  kiran   25  san francisco

In [50]:
print(df)

    name  age           city
0  balaj   22       new york
1  kumar   23    los angeles
2    sai   24        chicago
3  kiran   25  san francisco