In [ ]:
# for loop
for i in range(5):
    print(i)

range(2, 5)  # 2,3,4

# start, end, step
range(2, 10, 2)  # 2, 4, 6, 8

0
1
2
3
4

range(2, 5)

In [ ]:
name = "Balaji Nandure"
for i in name:
    print(i) # B, a, l, a, j, i,  , N, a, n, d, u, r, e

B
a
l
a
j
i

N
a
n
d
u
r
e

In [ ]:
# while loop
i = 0
while i < 5:
    print(i)
    i += 1

# break statement
for i in range(10): # 0, 1, 2, 3, 4
    if i == 5:
        break
    print(i)

# continue statement
for i in range(10): # 0, 1, 2, 3, 4, 6, 7, 8, 9
    if i == 5:
        continue
    print(i)
 
# pass statement means do nothing
for i in range(10):
    pass

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
6
7
8
9
Hello

In [6]:
# Fromated print
name = "Balaji Nandure"
age = 20
print(f"Name: {name}, Age: {age}")

Name: Balaji Nandure, Age: 20